<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de usuarios</title>
</head>
<body>
    <h1>Listado de usuarios</h1>
    <hr>
    <a href="/">Regresar</a>
    <table border="1">
        <thead>
            <tr>
                <th>Id</th>
                <th>usuario</th>
                <th>email</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="usuario : ${lista}">
                <td>[[${autor.id}]]</td>
                <td>[[${autor.nombres}]]</td>
                <td>[[${autor.pais}]]</td>
            </tr>
        </tbody>
    </table>
</body>
</html>